.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;
}
 
.btn {
	color: black;
}
.footer {
	padding: 10px 10px 0 10px ; 
	background-color: green;
	margin-bottom :0px;
	margin-top: 0px;
} 	

.card-tienda{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}
 
.btn-comunicarse {
	width: 100%
	padding: 100px;
}